{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Now Playing Movies online - {{ parent() }}
{% endblock %}

{% block meta_description %} 
    List Now Playing Movies Online Free Openload videomega. List all movies Online and free Online and for Free no popup.
{% endblock %}
{% block body %}
    
       <div class="media">
            <h2><span class="title">Now Playing Movies</span>
            </h2>
           <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
           <!-- annonce textuel -->
           <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-0366082310128425"
                data-ad-slot="9546584512"
                data-ad-format="auto"></ins>
           <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
           </script>
         
            {% include 'AppBundle::listingmovies.html.twig' %}
                {% include 'AppBundle::pagination.html.twig' %}

        </div>
    
{% endblock %}
