{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Now Playing Movies online - {{ parent() }}
{% endblock %}

{% block meta_description %} 
    List Now Playing Movies Online Free Openload videomega. List all movies Online and free Online and for Free no popup.
{% endblock %}
{% block body %}
    
       <div class="media">
            <h2><span class="title">Now Playing Movies</span>
            </h2>
         
            {% include 'AppBundle::listingmovies.html.twig' %}
                {% include 'AppBundle::pagination.html.twig' %}

        </div>
    
{% endblock %}
