{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Popular Movies - {{ parent() }}
{% endblock %}
{% block meta_description %} 
    Popular Movies Online and for free. List all movies to watch for free Online and for Free no popup.
{% endblock %}
{% block body %}
    
       <div class="media">
            <h2><span class="title">Popular Movies</span>
            </h2>
         
            {% include 'AppBundle::listingmovies.html.twig' %}
                {% include 'AppBundle::pagination.html.twig' %}

        </div>
    
{% endblock %}
