{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Popular Movies - {{ parent() }}
{% endblock %}
{% block meta_description %} 
    Popular Movies Online and for free. List all movies to watch for free Online and for Free no popup.
{% endblock %}
{% block body %}
    
       <div class="media">
            <h2><span class="title">Popular Movies</span>
            </h2>
           <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
           <!-- annonce textuel -->
           <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-0366082310128425"
                data-ad-slot="9546584512"
                data-ad-format="auto"></ins>
           <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
           </script>
          <ol itemtype="http://schema.org/BreadcrumbList" itemscope="" class="breadcrumb"> 
                        <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                            <a title="Watching movies online" href="{{ path('homepage') }}" itemprop="item"><span itemprop="name">Home</span></a>
                        </li> 
                        <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"> 
                            <a title="Movies" href="{{ path('popularMovies') }}" itemprop="item"><span itemprop="name">Movies</span></a> 
                        </li> 
                    </ol> 
            {% include 'AppBundle::listingmovies.html.twig' %}
                {% include 'AppBundle::pagination.html.twig' %}

        </div>
    
{% endblock %}
