{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Top rated Movies - {{ parent() }}
{% endblock %}
{% block meta_description %} 
    Top rated Movies online and for free. List all movies Online Free wach all movies Online and for Free no popup.
{% endblock %}

{% block body %}
    
       <div class="media">
            <h2><span class="title">Top rated Movies</span>
            </h2>
         
            {% include 'AppBundle::listingmovies.html.twig' %}
                {% include 'AppBundle::pagination.html.twig' %}

        </div>
    
{% endblock %}
