{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Up coming Movies - {{ parent() }}
{% endblock %}
{% block meta_description %} 
    Up coming Movies Watch movies online and for free. List all movies online for free Online and for Free no popup.
{% endblock %}

{% block body %}
    <div class="media">
        <h2><span class="title">Up coming Movies</span>
        </h2>
        {% include 'AppBundle::listingmovies.html.twig' %}
        {% include 'AppBundle::pagination.html.twig' %}
    </div>
{% endblock %}
